@media all and (min-width: 39em) {
  .columns-1 {
    width: 6.77966102%;
    padding-right: 0%;
  }
}
@media all and (min-width: 39em) {
  .columns-2 {
    width: 15.25423729%;
    padding-right: 0%;
  }
}
@media all and (min-width: 39em) {
  .columns-3 {
    width: 23.72881356%;
    padding-right: 0%;
  }
}
@media all and (min-width: 39em) {
  .columns-4 {
    width: 32.20338983%;
    padding-right: 0%;
  }
}
@media all and (min-width: 39em) {
  .columns-5 {
    width: 40.6779661%;
    padding-right: 0%;
  }
}
@media all and (min-width: 39em) {
  .columns-6 {
    width: 49.15254237%;
    padding-right: 0%;
  }
}
@media all and (min-width: 39em) {
  .columns-7 {
    width: 57.62711864%;
    padding-right: 0%;
  }
}
@media all and (min-width: 39em) {
  .columns-8 {
    width: 66.10169492%;
    padding-right: 0%;
  }
}
@media all and (min-width: 39em) {
  .columns-9 {
    width: 74.57627119%;
    padding-right: 0%;
  }
}
@media all and (min-width: 39em) {
  .columns-10 {
    width: 83.05084746%;
    padding-right: 0%;
  }
}
@media all and (min-width: 39em) {
  .columns-11 {
    width: 91.52542373%;
    padding-right: 0%;
  }
}
@media all and (min-width: 39em) {
  .columns-12 {
    width: 100%;
    padding-right: 0%;
  }
}
/*Theme Name: Mineral School
Theme URI: http://www.staging.designbydoug.com/themes/mineralschool
Author: Seattle Central College ITC 210 project team
Author URI: http://staging.designbydoug.com
Description: Wordpress theme for Mineral School, designed and developed by the ITC 210 project team at Seattle Central College
License: 
License URI: 
*/
/***** resets *****/
body,
body * {
  padding: 0;
  margin: 0;
}
a img {
  border: 0;
}
img {
  height: auto;
  max-width: 100%;
}
/****** body styles *****/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1.5;
}
/****** header styles *****/
.header-wrap {
  background-image: url(images/header-chalkboard.jpg);
}
.header-wrap {
  background-image: url(images/header-chalkboard.jpg);
}
header.header-main {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
  color: white;
  /*header.header-main h1 {
	  padding: 20px 0 0 200px;
  }*/
}
header.header-main a:link,
header.header-main a:visited {
  color: white;
}
@media all and (min-width: 39em) {
  header.header-main {
    padding: 0 10px;
  }
}
@media all and (min-width: 39em) {
  header.header-main h1 {
    float: left;
  }
}
/***** header widget styles ****/
.header-utility {
  font-family: 'Roboto Condensed', sans-serif;
}
@media all and (min-width: 39em) {
  .header-utility .loginout {
    text-align: right;
  }
}
@media all and (min-width: 39em) {
  .header-utility {
    float: right;
  }
}
.header-utility .social-links {
  margin: 0 auto;
}
@media all and (min-width: 39em) {
  .header-utility .social-links {
    margin: none;
    float: right;
  }
}
a.header-donate {
  float: right;
}
/***** nav styles *****/
nav.main-nav {
  /*  background: tint(grey, 60%);
  background-image:url(images/nav-background-lines.png);*/
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
nav.main-nav ul li {
  list-style-type: none;
  font-family: 'Roboto Condensed', sans-serif;
}
nav.main-nav ul li a:link,
nav.main-nav ul li a:visited {
  text-decoration: none;
  color: #383D36;
  font-size: 1.25em;
}
@media all and (min-width: 39em) {
  nav.main-nav ul li {
    list-style-type: none;
  }
}
div.menu-main-divider-top {
  background-image: url(images/nav-lines-upper.png);
  background-repeat: repeat-x;
  height: 10px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
/*div.menu-main-divider-bottom{
	background-image:url(images/nav-lines-lower.png);
	background-repeat:repeat-x;
	height: 10px;
	max-width: 100%;
  	margin: 0 auto;
  	padding: 0 10px;
}*/
div.menu-main-menu-container {
  float: left;
}
div.menu-main-menu-container ul {
  text-align: left;
  margin: 0;
  list-style: none;
}
div.menu-main-menu-container ul li {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: transparent;
  color: #383D36;
  cursor: pointer;
}
div.menu-main-menu-container ul li:hover {
  background: transparent;
  color: #383D36;
}
div.menu-main-menu-container ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  display: none;
  opacity: 0;
  visibility: hidden;
}
div.menu-main-menu-container ul li ul li {
  background: #fff;
  display: block;
  margin: 0px;
}
div.menu-main-menu-container ul li ul li:hover {
  background: #DBD9BC;
  color: #FFF;
}
div.menu-main-menu-container ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
/******** .main styles **********/
.main {
  clear: both;
  padding: 20px 10px 0 10px;
  max-width: 1180px;
  margin: 0 auto;
  overflow: hidden;
}
/******* blog title styles ******/
h1.blog-title {
  padding: 5px 0 5px 20px;
  background: grey;
  font-size: 2.2em;
}
/****** post styles ********/
.main-content {
  overflow: hidden;
}
@media all and (min-width: 39em) {
  .main-content {
    float: left;
  }
}
.main-content .post-container {
  border-bottom: 3px dotted grey;
  margin-bottom: 10px;
  overflow: hidden;
}
@media all and (min-width: 39em) {
  .main-content .post-container {
    margin-right: 40px;
    padding-left: 30px;
  }
}
.main-content .post-container p.read-more {
  float: right;
  margin-bottom: 10px;
}
/***** page-specific post styles *****/
.page-container {
  overflow: hidden;
  margin-bottom: 20px;
}
@media all and (min-width: 39em) {
  .page-container {
    padding-left: 20px;
  }
  .home .page-container {
    padding-left: 0;
  }
  .page-container p {
    padding: 0 10px;
  }
}
/******* aside#primary styles ********/
.widget {
  margin-bottom: 10px;
}
.widget ul {
  margin: 0;
}
aside#primary h3 {
  padding: 10px 0 10px 10px;
  background-image: url(images/header-chalkboard.jpg);
  color: white;
}
@media all and (min-width: 39em) {
  aside#primary {
    float: right;
  }
}
/*** .home aside#secondary styling ***/
.home .main-content .page-container {
  float: left;
}
div.home aside#secondary {
  background: none;
}
div.home aside#secondary h3 {
  padding: 10px 0 10px 10px;
  font-family: 'Playball', cursive;
  font-size: 2.4em;
}
@media all and (min-width: 39em) {
  div.home aside#secondary {
    float: right;
  }
}
aside#primary-home {
  clear: both;
  padding-top: 20px;
}
aside#primary-home a.read-more-button {
  float: right;
}
aside#primary-home h3 {
  padding: 10px 0 10px 10px;
  background-image: url(images/header-chalkboard.jpg);
  color: white;
}
@media all and (min-width: 39em) {
  aside#primary-home {
    overflow: hidden;
  }
  aside#primary-home .widget {
    float: left;
    margin-right: 1.6%;
  }
  aside#primary-home .widget:last-child {
    margin-right: 0;
    float: right;
  }
}
/**************** footer styles **********/
.footer-wrap {
  background-image: url(images/header-chalkboard.jpg);
}
footer {
  max-width: 1180px;
  padding: 20px 0 0 120px;
  margin: 0 auto;
  clear: both;
  padding: 0 10px;
  overflow: hidden;
  color: white;
}
/**** footer nav styles ****/
.menu-footer-menu-container {
  /** footer nav menu styles **/
  /***** global typography styles ******/
  /***** global form styles ******/
  /*input[type=submit]       old way of doing this */
}
.menu-footer-menu-container ul {
  margin: 0;
}
.menu-footer-menu-container ul li {
  margin: 0 0 20px 0;
  float: left;
  list-style-type: none;
  background-image: url(images/header-chalkboard.jpg);
  overflow: hidden;
}
.menu-footer-menu-container ul li:after {
  content: " |";
  padding-right: 5px;
}
.menu-footer-menu-container ul li:last-child:after {
  content: "";
}
.menu-footer-menu-container ul li a:link,
.menu-footer-menu-container ul li a:visited {
  color: white;
  text-decoration: none;
}
.menu-footer-menu-container ul li a:hover,
.menu-footer-menu-container ul li a:focus {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.menu-footer-menu-container .menu-footer-menu-container ul li {
  list-style-type: none;
  display: inline;
  font-family: 'Roboto Condensed', sans-serif;
}
.menu-footer-menu-container .menu-footer-menu-container ul li a:link,
.menu-footer-menu-container .menu-footer-menu-container ul li a:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}
.menu-footer-menu-container h1,
.menu-footer-menu-container h2,
.menu-footer-menu-container h3,
.menu-footer-menu-container h4,
.menu-footer-menu-container h5,
.menu-footer-menu-container h6 {
  font-weight: normal;
}
.menu-footer-menu-container p {
  margin-top: .5em;
}
.menu-footer-menu-container ul {
  text-align: left;
  margin: .7em 0 1em 1.5em;
}
.menu-footer-menu-container ol {
  text-align: left;
  margin: .7em 0 1em 1.75em;
}
.menu-footer-menu-container blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.menu-footer-menu-container blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.menu-footer-menu-container blockquote p {
  display: inline;
}
.menu-footer-menu-container p.em {
  font-weight: bold;
}
.menu-footer-menu-container a:link {
  text-decoration: underline;
}
.menu-footer-menu-container input.shortfield {
  -webkit-appearance: none;
  -moz-appearance: none;
  /*appearance: none;  */
  padding: 8px 12px;
  border: 0 none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ie-border-radius: 3px;
  width: 25%;
  min-width: 240px;
  max-width: 340px;
}
.menu-footer-menu-container textarea.longfield {
  -webkit-appearance: none;
  -moz-appearance: none;
  /*appearance: none;  */
  padding: 8px 12px;
  border: 0 none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ie-border-radius: 3px;
  width: 50%;
  min-width: 240px;
  max-width: 640px;
}
.menu-footer-menu-container input.submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  /*  appearance: none;  */
  padding: .75em 1em;
  border: 0 none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ie-border-radius: 3px;
}
