@media all and (min-width: 624px) {
  .columns-1 {
    width: 6.77966102%;
    padding-right: 0%;
  }
}
@media all and (min-width: 624px) {
  .columns-2 {
    width: 15.25423729%;
    padding-right: 0%;
  }
}
@media all and (min-width: 624px) {
  .columns-3 {
    width: 23.72881356%;
    padding-right: 0%;
  }
}
@media all and (min-width: 624px) {
  .columns-4 {
    width: 32.20338983%;
    padding-right: 0%;
  }
}
@media all and (min-width: 624px) {
  .columns-5 {
    width: 40.6779661%;
    padding-right: 0%;
  }
}
@media all and (min-width: 624px) {
  .columns-6 {
    width: 49.15254237%;
    padding-right: 0%;
  }
}
@media all and (min-width: 624px) {
  .columns-7 {
    width: 57.62711864%;
    padding-right: 0%;
  }
}
@media all and (min-width: 624px) {
  .columns-8 {
    width: 66.10169492%;
    padding-right: 0%;
  }
}
@media all and (min-width: 624px) {
  .columns-9 {
    width: 74.57627119%;
    padding-right: 0%;
  }
}
@media all and (min-width: 624px) {
  .columns-10 {
    width: 83.05084746%;
    padding-right: 0%;
  }
}
@media all and (min-width: 624px) {
  .columns-11 {
    width: 91.52542373%;
    padding-right: 0%;
  }
}
@media all and (min-width: 624px) {
  .columns-12 {
    width: 100%;
    padding-right: 0%;
  }
}
/*Theme Name: Mineral School
Theme URI: http://www.staging.designbydoug.com/themes/mineralschool
Author: Seattle Central College ITC 210 project team
Author URI: http://staging.designbydoug.com
Description: Wordpress theme for Mineral School, designed and developed by the ITC 210 project team at Seattle Central College
License: 
License URI: 
*/
/***** resets *****/
body,
body * {
  padding: 0;
  margin: 0;
}
a img {
  border: 0;
}
img {
  height: auto;
  max-width: 100%;
}
/****** body styles *****/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1.5;
}
/****** header styles *****/
.header-wrap {
  background-image: url(images/chalkboard-header-footer.jpg);
}
header.header-main {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
  color: white;
}
header.header-main a:link,
header.header-main a:visited {
  color: white;
}
@media all and (min-width: 624px) {
  header.header-main {
    padding: 0 10px;
  }
}
@media all and (min-width: 624px) {
  header.header-main h1 {
    float: left;
  }
}
/***** header widget styles ****/
.header-utility {
  float: right;
  font-family: 'Roboto Condensed', sans-serif;
}
.header-utility .loginout a:link,
.header-utility .loginout a:visited {
  text-decoration: none;
}
@media all and (min-width: 624px) {
  .header-utility .loginout {
    text-align: right;
  }
}
@media all and (min-width: 624px) {
  .header-utility {
    float: right;
  }
}
.header-utility .social-links {
  display: block;
}
@media all and (min-width: 624px) {
  .header-utility .social-links {
    margin: none;
  }
}
a.header-donate {
  float: right;
}
/***** nav styles *****/
nav.main-nav {
  max-width: 1180px;
  margin: 0 auto;
}
nav.main-nav #three-line-menu {
  float: left;
  padding: 15px 20px;
}
@media all and (min-width: 624px) {
  nav.main-nav #three-line-menu {
    display: none;
    opacity: 0;
    visibility: 0;
  }
}
nav.main-nav div.menu-main-menu-container {
  float: left;
  font-family: 'Roboto Condensed', sans-serif;
}
nav.main-nav div.menu-main-menu-container a {
  border-bottom: none;
}
nav.main-nav div.menu-main-menu-container ul {
  text-align: left;
  margin: 0;
  list-style: none;
}
nav.main-nav div.menu-main-menu-container ul > li {
  text-transform: uppercase;
}
nav.main-nav div.menu-main-menu-container ul li {
  display: inline-block;
  margin: 0 -4px 0 0;
  position: relative;
  padding: 15px 20px;
  background: transparent;
  color: #383D36;
  cursor: pointer;
  list-style-type: none;
}
nav.main-nav div.menu-main-menu-container ul li a:link,
nav.main-nav div.menu-main-menu-container ul li a:visited {
  text-decoration: none;
  color: #383D36;
  font-size: 1.25em;
}
nav.main-nav div.menu-main-menu-container ul li:hover {
  /* background: #555;
          color: #fff; */
  background: transparent;
  color: #383D36;
}
nav.main-nav div.menu-main-menu-container ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
nav.main-nav div.menu-main-menu-container ul li ul {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  display: none;
  opacity: 0;
  visibility: hidden;
}
nav.main-nav div.menu-main-menu-container ul li ul li {
  /* background: #555; 
            display: block; 
            margin: 0;
            color: #fff; */
  background: #fff;
  display: block;
  text-transform: capitalize;
  margin: 0px;
}
nav.main-nav div.menu-main-menu-container ul li ul li:hover {
  /* background: #666; */
  background: #DBD9BC;
  color: #FFF;
}
@media all and (max-width: 799px) {
  nav.main-nav div.menu-main-menu-container {
    position: relative;
    z-index: 1000;
  }
  nav.main-nav div.menu-main-menu-container ul {
    width: 220px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    visibility: 0;
    /*background: #fff 10px 11px;*/
  }
  nav.main-nav div.menu-main-menu-container ul li {
    list-style-type: none;
    display: none;
    /* hide all <li> items */
    color: #555;
    padding: 0;
    text-transform: uppercase;
  }
  nav.main-nav div.menu-main-menu-container ul li a {
    display: block;
    padding: 5px 5px 5px 32px;
    text-align: left;
  }
  nav.main-nav div.menu-main-menu-container ul li.current-menu-item {
    display: block;
    /* show only current <li> item */
    color: #fff;
  }
  nav.main-nav div.menu-main-menu-container ul li.current-menu-item a {
    background: none;
  }
  nav.main-nav div.menu-main-menu-container ul:hover {
    background-color: #555;
  }
  nav.main-nav div.menu-main-menu-container ul:hover li.current-menu-item {
    color: #fff;
    background: #666 10px 7px;
  }
  nav.main-nav div.menu-main-menu-container ul:hover li {
    display: block;
    margin: 0 0 5px;
  }
  nav.main-nav div.menu-main-menu-container ul:hover li a {
    color: #fff;
  }
  nav.main-nav div.menu-main-menu-container ul:hover li ul {
    width: 220px;
    padding: 5px 0;
    position: relative;
    display: block;
    opacity: 100;
    visibility: visible;
    top: 0;
    left: 0;
    background: #6aa441 transparent 10px 11px;
  }
  nav.main-nav div.menu-main-menu-container ul:hover li ul li {
    display: block;
    margin: 0 0 5px;
    background: transparent;
    color: #fff;
  }
  nav.main-nav div.menu-main-menu-container ul:hover li ul li:hover a {
    color: #ccc;
  }
  nav.main-nav div.menu-main-menu-container ul:hover li ul li a {
    color: #fff;
  }
}
div.menu-main-divider-top {
  background-image: url(images/nav-lines-upper.png);
  background-repeat: repeat-x;
  min-height: 10px;
  max-width: 100%;
  margin: 0 auto;
  /* padding: 0 10px; */
}
div.menu-main-divider-bottom {
  background-image: url(images/nav-lines-lower.png);
  background-repeat: repeat-x;
  background-position: bottom;
  min-height: 3.5em;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
/******** .main styles **********/
.main {
  clear: both;
  padding: 20px 10px 0 10px;
  max-width: 1180px;
  margin: 0 auto;
  overflow: hidden;
}
/******* blog title styles ******/
h1.blog-title {
  padding: 5px 0 5px 20px;
  background-image: url(images/chalkboard-header-footer.jpg);
  font-size: 2.2em;
  color: white;
}
/****** post styles ********/
.main-content {
  overflow: hidden;
}
@media all and (min-width: 624px) {
  .main-content {
    float: left;
  }
}
.main-content .post-container {
  border-bottom: 3px dotted #383D36;
  margin-bottom: 10px;
  overflow: hidden;
}
@media all and (min-width: 624px) {
  .main-content .post-container {
    margin-right: 40px;
    padding-left: 30px;
  }
}
.main-content .post-container p.read-more {
  float: right;
  margin-bottom: 10px;
}
/***** page-specific post styles *****/
.page-container {
  overflow: hidden;
  margin-bottom: 20px;
}
@media all and (min-width: 624px) {
  .page-container {
    padding-left: 20px;
  }
  .home .page-container {
    padding-left: 0;
  }
  .page-container p {
    padding: 0 10px;
  }
}
/******* aside#primary styles ********/
a.more-link {
  float: right;
  padding: 5px;
}
a.more-link:link,
a.more-link:visited {
  border: none;
  background: #DBD9BC;
  color: #383D36;
}
a.more-link:hover,
a.more-link:focus {
  background: #c5c3a9;
}
.widget {
  overflow: hidden;
  margin-bottom: 10px;
}
.widget p {
  margin: 0 0 5px 15px;
}
.widget a.read-more-button {
  float: right;
  padding: 5px;
}
.widget a.read-more-button:link,
.widget a.read-more-button:visited {
  border: none;
  background: #DBD9BC;
  color: #383D36;
}
.widget a.read-more-button:hover,
.widget a.read-more-button:focus {
  background: #c5c3a9;
}
.widget ul {
  margin: 0;
}
.widget ul li {
  list-style-type: none;
  margin-left: 15px;
}
aside#primary h3 {
  padding: 10px 0 10px 10px;
  background-image: url(images/chalkboard-widget-header.jpg);
  color: white;
}
@media all and (min-width: 624px) {
  aside#primary {
    float: right;
  }
}
/*** .home aside#secondary styling ***/
.home .main-content .page-container {
  float: left;
}
div.home aside#secondary {
  background: none;
}
div.home aside#secondary h3 {
  padding: 10px 0 10px 10px;
  font-family: 'Playball', cursive;
  font-size: 2.4em;
}
@media all and (min-width: 624px) {
  div.home aside#secondary {
    float: right;
  }
}
aside#primary-home {
  clear: both;
  padding-top: 20px;
}
aside#primary-home a.read-more-button {
  float: right;
}
aside#primary-home h3 {
  padding: 10px 0 10px 10px;
  background-image: url(images/chalkboard-widget-header.jpg);
  color: white;
}
@media all and (min-width: 624px) {
  aside#primary-home {
    overflow: hidden;
  }
  aside#primary-home .widget {
    float: left;
    margin-right: 1.6%;
  }
  aside#primary-home .widget:last-child {
    margin-right: 0;
    float: right;
  }
}
/**************** footer styles **********/
.footer-wrap {
  background-image: url(images/chalkboard-header-footer.jpg);
}
footer {
  max-width: 1180px;
  padding: 10px 10px 0 10px;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
  color: white;
}
footer li a:link,
footer p a:link,
footer li a:visited,
footer p a:visited {
  color: white;
  text-decoration: none;
}
footer li a:hover,
footer p a:hover,
footer li a:focus,
footer p a:focus {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.sponsor {
  font-size: .8em;
  padding-left: 8px;
}
.shunpike-logo {
  float: right;
}
/**** footer nav styles ****/
.menu-footer-menu-container ul {
  margin: 0;
}
.menu-footer-menu-container ul li {
  margin: 0 0 20px 0;
  float: left;
  list-style-type: none;
  background-image: url(images/header-chalkboard.jpg);
  overflow: hidden;
}
.menu-footer-menu-container ul li:after {
  content: " |";
  padding-right: 5px;
}
.menu-footer-menu-container ul li:last-child:after {
  content: "";
}
/***** .footer-left styling ****/
.footer-left {
  float: right;
}
@media all and (min-width: 624px) {
  .footer-left {
    float: left;
  }
}
.footer-left p {
  text-align: right;
}
@media all and (min-width: 624px) {
  .footer-left p {
    text-align: left;
  }
}
/***** .footer-right styling ****/
.footer-right {
  float: right;
  clear: both;
}
@media all and (min-width: 624px) {
  .footer-right {
    clear: none;
  }
}
/***** global typography styles ******/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
p {
  margin-top: .5em;
}
ul {
  text-align: left;
  margin: .7em 0 1em 1.5em;
}
ol {
  text-align: left;
  margin: .7em 0 1em 1.75em;
}
blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
p.em {
  font-weight: bold;
}
.main a:link,
.main a:visited {
  color: #767263;
  text-decoration: none;
  font-size: 1.1em;
  line-height: 1.6em;
}
.main a:hover,
.main a:focus {
  border-bottom: none;
  color: #9f9d92;
}
/***** global form styles ******/
input.shortfield {
  -webkit-appearance: none;
  -moz-appearance: none;
  /*appearance: none;  */
  padding: 8px 12px;
  border: 0 none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ie-border-radius: 3px;
  width: 25%;
  min-width: 240px;
  max-width: 340px;
}
textarea.longfield {
  -webkit-appearance: none;
  -moz-appearance: none;
  /*appearance: none;  */
  padding: 8px 12px;
  border: 0 none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ie-border-radius: 3px;
  width: 50%;
  min-width: 240px;
  max-width: 640px;
}
/*input[type=submit]       old way of doing this */
input.submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  /*  appearance: none;  */
  padding: .75em 1em;
  border: 0 none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ie-border-radius: 3px;
}
/**** search field styles ****/
.widget_search {
  margin-bottom: 0;
}
form.search-form {
  float: right;
}
form.search-form span {
  display: none;
}
img.search-icon {
  padding-top: 4px;
}
input.search-field {
  color: white;
  background: none;
  width: 95px;
  height: 15px;
  border: none;
  overflow: hidden;
  border-bottom: 2px solid white;
  font-family: inherit;
  font-size: 90%;
}
input.search-field-clicked {
  border-bottom: 2px solid white;
}
